USE [casino_dbnew]
GO
/****** Object:  Table [dbo].[AiHistory]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AiHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[VenueId] [int] NULL,
	[SectionKey] [nvarchar](60) NOT NULL,
	[Prompt] [nvarchar](1000) NOT NULL,
	[Respuesta] [nvarchar](1000) NULL,
	[FueError] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__AiHistor__3214EC07253A0577] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppConfigs]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppConfigs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConfigKey] [nvarchar](50) NOT NULL,
	[ConfigValue] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentItems]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VenueId] [int] NOT NULL,
	[SectionId] [int] NOT NULL,
	[JsonContent] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[OrderIndex] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerRegistrations]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerRegistrations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VenueId] [int] NOT NULL,
	[OriginId] [int] NULL,
	[DocType] [nvarchar](20) NOT NULL,
	[DocNumber] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastNameFather] [nvarchar](100) NOT NULL,
	[LastNameMother] [nvarchar](100) NULL,
	[BirthDate] [date] NOT NULL,
	[Gender] [nvarchar](20) NOT NULL,
	[Nationality] [nvarchar](50) NOT NULL,
	[PhoneCode] [nvarchar](10) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[AuthMarketing] [bit] NULL,
	[RegistrationDate] [datetime] NULL,
	[AuthChannelsJson] [nvarchar](max) NULL,
	[Marketing] [bit] NOT NULL,
	[Email] [nvarchar](150) NULL,
	[DistrictId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] NOT NULL,
	[UbigeoCode] [nvarchar](6) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[UbigeoCode] [nvarchar](6) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaFiles]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[StoredPath] [nvarchar](500) NOT NULL,
	[PublicUrl] [nvarchar](500) NOT NULL,
	[AiDescription] [nvarchar](max) NULL,
	[UploadedAt] [datetime] NULL,
	[VenueId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Origins]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Origins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Hash] [varchar](150) NULL,
	[IsActive] [bit] NULL,
	[VenueId] [int] NULL,
	[StandaloneTitle] [nvarchar](200) NULL,
	[StandaloneSubtitle] [nvarchar](500) NULL,
	[StandaloneMediaWeb] [nvarchar](300) NULL,
	[StandaloneShowMedia] [bit] NULL,
 CONSTRAINT [PK__Origins__3214EC079E164A4E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageSections]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageSections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionKey] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[UbigeoCode] [nvarchar](6) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsGlobal] [bit] NULL,
	[CanPublish] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Themes]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Themes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThemeKey] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[SeoTitle] [nvarchar](200) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoOgDescription] [nvarchar](500) NULL,
	[SeoSiteName] [nvarchar](200) NULL,
 CONSTRAINT [PK_Themes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThemeSections]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThemeSections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThemeId] [int] NULL,
	[SectionKey] [nvarchar](60) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Icon] [nvarchar](60) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsCommon] [bit] NOT NULL,
	[EditorType] [nvarchar](30) NOT NULL,
	[SchemaExample] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ThemeSections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleId] [int] NULL,
	[FullName] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[PasswordIsHashed] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastLoginAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserVenues]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserVenues](
	[UserId] [int] NOT NULL,
	[VenueId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[VenueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venues]    Script Date: 09/09/2026 22:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodSala] [varchar](10) NULL,
	[Slug] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IntroBgImage] [nvarchar](500) NULL,
	[StatusText] [nvarchar](50) NULL,
	[ScheduleText] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[MapLat] [decimal](10, 7) NULL,
	[MapLng] [decimal](10, 7) NULL,
	[WhatsappNumber] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[ThemeId] [int] NULL,
	[LogoLight] [nvarchar](300) NULL,
	[LogoDark] [nvarchar](300) NULL,
	[ReclamacionesLink] [nvarchar](500) NULL,
	[HotelLink] [nvarchar](500) NULL,
	[ShowHotelLink] [bit] NOT NULL,
	[SeoTitle] [nvarchar](200) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoImage] [nvarchar](300) NULL,
	[IntroOrder] [int] NOT NULL,
	[ShowInIntro] [bit] NOT NULL,
 CONSTRAINT [PK__Venues__3214EC07EFCD3B7A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AiHistory] ON 

INSERT [dbo].[AiHistory] ([Id], [UserId], [VenueId], [SectionKey], [Prompt], [Respuesta], [FueError], [CreatedAt]) VALUES (1, 1, 1, N'nuestra-oferta', N'agrega un item nuevo al final e inventa su conteido', N'Agregué un item nuevo al final con contenido inventado.', 0, CAST(N'2026-08-29T11:02:45.840' AS DateTime))
INSERT [dbo].[AiHistory] ([Id], [UserId], [VenueId], [SectionKey], [Prompt], [Respuesta], [FueError], [CreatedAt]) VALUES (2, 1, 1, N'eventos', N'usa esta imagen 3133d25d-a697-48c7-b78b-5c1eefb37790.png en un nuevo item, ,su contenido inventate', N'Agregué un nuevo item con la imagen indicada y contenido inventado, conservando lo existente.', 0, CAST(N'2026-08-29T12:15:05.623' AS DateTime))
INSERT [dbo].[AiHistory] ([Id], [UserId], [VenueId], [SectionKey], [Prompt], [Respuesta], [FueError], [CreatedAt]) VALUES (3, 1, 1, N'eventos', N'[imagen] pngwing.com (6).png', N'Guardada como ff0ec22d-ba8a-4142-8b11-414823b769a3.png', 0, CAST(N'2026-08-29T12:54:13.227' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[AiHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[AppConfigs] ON 

INSERT [dbo].[AppConfigs] ([Id], [ConfigKey], [ConfigValue], [Description]) VALUES (1, N'MainLogoDark', N'logoblack.png', N'Logo para Intro (Fondo claro)')
INSERT [dbo].[AppConfigs] ([Id], [ConfigKey], [ConfigValue], [Description]) VALUES (2, N'MainLogoLight', N'logo.png', N'Logo para Header (Fondo oscuro)')
INSERT [dbo].[AppConfigs] ([Id], [ConfigKey], [ConfigValue], [Description]) VALUES (3, N'SocialFacebook', N'redes/facebook.svg', N'Facebook URL')
SET IDENTITY_INSERT [dbo].[AppConfigs] OFF
GO
SET IDENTITY_INSERT [dbo].[ContentItems] ON 

INSERT [dbo].[ContentItems] ([Id], [VenueId], [SectionId], [JsonContent], [IsActive], [OrderIndex], [CreatedAt]) VALUES (10, 2, 6, N'{
    "facebook": "https://www.facebook.com/WinWinChiclayo",
    "instagram": "https://www.instagram.com/WinWinChiclayo",
    "tiktok": "https://www.tiktok.com/@WinWinChiclayo"
}', 1, 1, CAST(N'2025-11-28T12:56:58.003' AS DateTime))
INSERT [dbo].[ContentItems] ([Id], [VenueId], [SectionId], [JsonContent], [IsActive], [OrderIndex], [CreatedAt]) VALUES (20, 1, 2, N'{
  "title": "Las mejores M\u00E1quinas",
  "description": "M\u00E1s de 100 m\u00E1quinas, ruleta electronica. Mix de juegos cl\u00E1sicos y recientes.",
  "iconUrl": "slot.png"
}', 0, 1, CAST(N'2025-11-29T18:03:52.050' AS DateTime))
INSERT [dbo].[ContentItems] ([Id], [VenueId], [SectionId], [JsonContent], [IsActive], [OrderIndex], [CreatedAt]) VALUES (21, 1, 2, N'{
  "title": "Sorteos y Promociones",
  "description": "Sorteos en efectivo y extra win todas las semanas. Reventones todos los meses.",
  "iconUrl": "sorteos.png"
}', 0, 2, CAST(N'2025-11-29T18:03:52.050' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ContentItems] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerRegistrations] ON 

INSERT [dbo].[CustomerRegistrations] ([Id], [VenueId], [OriginId], [DocType], [DocNumber], [FirstName], [LastNameFather], [LastNameMother], [BirthDate], [Gender], [Nationality], [PhoneCode], [PhoneNumber], [AuthMarketing], [RegistrationDate], [AuthChannelsJson], [Marketing], [Email], [DistrictId]) VALUES (27, 1, 9, N'DNI', N'42126587', N'RICHARD LEE', N'BLANCO', N'ÑAUPA', CAST(N'1984-12-11' AS Date), N'M', N'Peru', N'51', N'9595959', 1, CAST(N'2025-12-18T11:00:50.013' AS DateTime), N'["sms","email"]', 0, NULL, NULL)
INSERT [dbo].[CustomerRegistrations] ([Id], [VenueId], [OriginId], [DocType], [DocNumber], [FirstName], [LastNameFather], [LastNameMother], [BirthDate], [Gender], [Nationality], [PhoneCode], [PhoneNumber], [AuthMarketing], [RegistrationDate], [AuthChannelsJson], [Marketing], [Email], [DistrictId]) VALUES (28, 1, 9, N'DNI', N'00424232', N'RICHARD HECTOR', N'BLANCO', N'CLAROS', CAST(N'1964-11-20' AS Date), N'M', N'Peru', N'51', N'96587854', 0, CAST(N'2025-12-18T11:01:36.060' AS DateTime), N'["no_autorizo"]', 0, NULL, NULL)
INSERT [dbo].[CustomerRegistrations] ([Id], [VenueId], [OriginId], [DocType], [DocNumber], [FirstName], [LastNameFather], [LastNameMother], [BirthDate], [Gender], [Nationality], [PhoneCode], [PhoneNumber], [AuthMarketing], [RegistrationDate], [AuthChannelsJson], [Marketing], [Email], [DistrictId]) VALUES (29, 2, 9, N'DNI', N'00424278', N'ANA RUTH', N'PANIAGUA', N'VEGA', CAST(N'1974-12-11' AS Date), N'F', N'Peru', N'51', N'6598524', 0, CAST(N'2025-12-18T15:36:12.093' AS DateTime), N'["no_autorizo"]', 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[CustomerRegistrations] OFF
GO
INSERT [dbo].[Departments] ([Id], [UbigeoCode], [Name]) VALUES (1, N'01', N'Amazonas')
INSERT [dbo].[Departments] ([Id], [UbigeoCode], [Name]) VALUES (2, N'02', N'Áncash')
INSERT [dbo].[Departments] ([Id], [UbigeoCode], [Name]) VALUES (3, N'03', N'Apurímac')
GO
INSERT [dbo].[Districts] ([Id], [ProvinceId], [UbigeoCode], [Name]) VALUES (1, 1, N'010101', N'Chachapoyas')
INSERT [dbo].[Districts] ([Id], [ProvinceId], [UbigeoCode], [Name]) VALUES (2, 1, N'010102', N'Asunción')
INSERT [dbo].[Districts] ([Id], [ProvinceId], [UbigeoCode], [Name]) VALUES (3, 1, N'010103', N'Balsas')
GO
SET IDENTITY_INSERT [dbo].[MediaFiles] ON 

INSERT [dbo].[MediaFiles] ([Id], [FileName], [StoredPath], [PublicUrl], [AiDescription], [UploadedAt], [VenueId]) VALUES (1, N'18e5bd58-93f0-4b44-9206-7f7712731d67.png', N'C:\IASRECO\casinoweb\18e5bd58-93f0-4b44-9206-7f7712731d67.png', N'~img/18e5bd58-93f0-4b44-9206-7f7712731d67.png', NULL, CAST(N'2025-11-29T10:39:44.260' AS DateTime), NULL)
INSERT [dbo].[MediaFiles] ([Id], [FileName], [StoredPath], [PublicUrl], [AiDescription], [UploadedAt], [VenueId]) VALUES (2, N'd5de87e7-f2b3-4d04-997b-ae42c68df2e7.png', N'C:\IASRECO\casinoweb\uploads\d5de87e7-f2b3-4d04-997b-ae42c68df2e7.png', N'd5de87e7-f2b3-4d04-997b-ae42c68df2e7.png', NULL, CAST(N'2025-11-29T11:27:27.043' AS DateTime), NULL)
INSERT [dbo].[MediaFiles] ([Id], [FileName], [StoredPath], [PublicUrl], [AiDescription], [UploadedAt], [VenueId]) VALUES (3, N'6461ed11-4c0b-456e-bd73-a0f06db4bdde.png', N'C:\IASRECO\casinoweb\uploads\6461ed11-4c0b-456e-bd73-a0f06db4bdde.png', N'6461ed11-4c0b-456e-bd73-a0f06db4bdde.png', NULL, CAST(N'2025-11-29T11:52:45.073' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[MediaFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Origins] ON 

INSERT [dbo].[Origins] ([Id], [Description], [Hash], [IsActive], [VenueId], [StandaloneTitle], [StandaloneSubtitle], [StandaloneMediaWeb], [StandaloneShowMedia]) VALUES (9, N'Web', N'1281dd6c4d1d4aacb2f47431c20d66f0', 1, 1, N'', N'', NULL, NULL)
INSERT [dbo].[Origins] ([Id], [Description], [Hash], [IsActive], [VenueId], [StandaloneTitle], [StandaloneSubtitle], [StandaloneMediaWeb], [StandaloneShowMedia]) VALUES (10, N'tiktok', N'55f2d6b169b2476fa1699dd251dfe958', 1, 1, N'🎉 ¡Estás a un paso de tu premio!', N'Llena tus datos y activa tu bono exclusivo de bienvenida. No olvides marcar la casilla de WhatsApp para recibir tu código directo en tu celular. ¡La suerte está de tu lado! 🍀', NULL, NULL)
INSERT [dbo].[Origins] ([Id], [Description], [Hash], [IsActive], [VenueId], [StandaloneTitle], [StandaloneSubtitle], [StandaloneMediaWeb], [StandaloneShowMedia]) VALUES (11, N'facebook', N'5cbd765cc5b542f893340b1345c06268', 1, 1, N'', N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Origins] OFF
GO
SET IDENTITY_INSERT [dbo].[PageSections] ON 

INSERT [dbo].[PageSections] ([Id], [SectionKey], [Name]) VALUES (1, N'hero', N'Carrusel Principal')
INSERT [dbo].[PageSections] ([Id], [SectionKey], [Name]) VALUES (2, N'nuestra-oferta', N'Tarjetas Informativas')
INSERT [dbo].[PageSections] ([Id], [SectionKey], [Name]) VALUES (3, N'promociones', N'Carrusel 3D Promociones')
SET IDENTITY_INSERT [dbo].[PageSections] OFF
GO
INSERT [dbo].[Provinces] ([Id], [DepartmentId], [UbigeoCode], [Name]) VALUES (1, 1, N'0101', N'Chachapoyas')
INSERT [dbo].[Provinces] ([Id], [DepartmentId], [UbigeoCode], [Name]) VALUES (2, 1, N'0102', N'Bagua')
INSERT [dbo].[Provinces] ([Id], [DepartmentId], [UbigeoCode], [Name]) VALUES (3, 1, N'0103', N'Bongará')
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [IsGlobal], [CanPublish]) VALUES (1, N'Super Admin', 1, 1)
INSERT [dbo].[Roles] ([Id], [Name], [IsGlobal], [CanPublish]) VALUES (2, N'Editor Sede', 0, 1)
INSERT [dbo].[Roles] ([Id], [Name], [IsGlobal], [CanPublish]) VALUES (3, N'Visor Sede', 0, 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Themes] ON 

INSERT [dbo].[Themes] ([Id], [ThemeKey], [Name], [Description], [IsActive], [SeoTitle], [SeoDescription], [SeoOgDescription], [SeoSiteName]) VALUES (1, N'classic', N'Clásico', N'Diseño Win&Win: fondo azul, acentos dorados.', 1, N'Win and Win Casino | {nombre}', N'Descubre Win and Win Casino (Win&Win) {nombre}. Vive la emoción del juego, shows en vivo y entretenimiento de primer nivel.', N'Disfruta de Win and Win Casino (Win&Win) {nombre} con tragamonedas, promociones y eventos exclusivos.', N'Win and Win Casino (Win&Win) {nombre}')
INSERT [dbo].[Themes] ([Id], [ThemeKey], [Name], [Description], [IsActive], [SeoTitle], [SeoDescription], [SeoOgDescription], [SeoSiteName]) VALUES (2, N'damasco', N'Damasco', NULL, 1, N'{nombre}', N'{nombre}: más de 450 máquinas de última tecnología, ruletas electrónicas, sorteos semanales y eventos en vivo en Tacna.', N'Vive la mejor experiencia de entretenimiento en {nombre}. Máquinas, sorteos, shows en vivo y las mejores cortesías.', N'{nombre}')
INSERT [dbo].[Themes] ([Id], [ThemeKey], [Name], [Description], [IsActive], [SeoTitle], [SeoDescription], [SeoOgDescription], [SeoSiteName]) VALUES (3, N'isla', N'Isla', N'Diseño Casino Isla: fondo claro, azul profundo y acento por sede.', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Themes] OFF
GO
SET IDENTITY_INSERT [dbo].[ThemeSections] ON 

INSERT [dbo].[ThemeSections] ([Id], [ThemeId], [SectionKey], [DisplayName], [Icon], [SortOrder], [IsCommon], [EditorType], [SchemaExample], [IsActive]) VALUES (1, 1, N'hero', N'Carrusel Principal', N'fa-images', 10, 0, N'cards', N'[{"title":"","subtitle":"","imageUrl":""}]', 1)
INSERT [dbo].[ThemeSections] ([Id], [ThemeId], [SectionKey], [DisplayName], [Icon], [SortOrder], [IsCommon], [EditorType], [SchemaExample], [IsActive]) VALUES (2, 1, N'nuestra-oferta', N'Nuestra Oferta', N'fa-gem', 20, 0, N'cards', N'[{"title":"","description":"","iconUrl":""}]', 1)
INSERT [dbo].[ThemeSections] ([Id], [ThemeId], [SectionKey], [DisplayName], [Icon], [SortOrder], [IsCommon], [EditorType], [SchemaExample], [IsActive]) VALUES (3, 1, N'promociones', N'Promociones', N'fa-ticket-alt', 30, 0, N'cards', N'[{"title":"","subtitle":"","description":"","frontImage":"","backImage":"","modalDetails":{"title":"","description":"","gallery":[]}}]', 1)
SET IDENTITY_INSERT [dbo].[ThemeSections] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [RoleId], [FullName], [IsActive], [PasswordIsHashed], [CreatedAt], [LastLoginAt]) VALUES (1, N'super', N'$2a$12$nEO19dEQflkABn3au8l/jO/c2Dv4DYfAiiJGtTUIRdrrWmZxUQfPi', 1, N'Super Admin', 1, 1, CAST(N'2026-08-27T10:11:10.257' AS DateTime), CAST(N'2026-09-09T14:58:26.940' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [RoleId], [FullName], [IsActive], [PasswordIsHashed], [CreatedAt], [LastLoginAt]) VALUES (2, N'editor_piura', N'123', 2, N'Editor Piura', 1, 0, CAST(N'2026-08-27T10:11:10.257' AS DateTime), NULL)
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [RoleId], [FullName], [IsActive], [PasswordIsHashed], [CreatedAt], [LastLoginAt]) VALUES (3, N'visor_general', N'123', 3, N'Visor', 1, 0, CAST(N'2026-08-27T10:11:10.257' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[UserVenues] ([UserId], [VenueId]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Venues] ON 

SET IDENTITY_INSERT [dbo].[Venues] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AppConfi__4A3067841762C01C]    Script Date: 09/09/2026 22:50:05 ******/
ALTER TABLE [dbo].[AppConfigs] ADD UNIQUE NONCLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PageSect__39EA1CF7DF3241AE]    Script Date: 09/09/2026 22:50:05 ******/
ALTER TABLE [dbo].[PageSections] ADD UNIQUE NONCLUSTERED 
(
	[SectionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Themes_ThemeKey]    Script Date: 09/09/2026 22:50:05 ******/
ALTER TABLE [dbo].[Themes] ADD  CONSTRAINT [UQ_Themes_ThemeKey] UNIQUE NONCLUSTERED 
(
	[ThemeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E45BD360FB]    Script Date: 09/09/2026 22:50:05 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Venues__BC7B5FB64D97B682]    Script Date: 09/09/2026 22:50:05 ******/
ALTER TABLE [dbo].[Venues] ADD  CONSTRAINT [UQ__Venues__BC7B5FB64D97B682] UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AiHistory] ADD  CONSTRAINT [DF__AiHistory__FueEr__45F365D3]  DEFAULT ((0)) FOR [FueError]
GO
ALTER TABLE [dbo].[AiHistory] ADD  CONSTRAINT [DF__AiHistory__Creat__46E78A0C]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ContentItems] ADD  DEFAULT ('{}') FOR [JsonContent]
GO
ALTER TABLE [dbo].[ContentItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ContentItems] ADD  DEFAULT ((0)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[ContentItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerRegistrations] ADD  DEFAULT ((0)) FOR [AuthMarketing]
GO
ALTER TABLE [dbo].[CustomerRegistrations] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[CustomerRegistrations] ADD  CONSTRAINT [DF_CustomerRegistrations_Marketing]  DEFAULT ((0)) FOR [Marketing]
GO
ALTER TABLE [dbo].[MediaFiles] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Origins] ADD  CONSTRAINT [DF__Origins__IsActiv__6FE99F9F]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsGlobal]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [CanPublish]
GO
ALTER TABLE [dbo].[Themes] ADD  CONSTRAINT [DF_Themes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ThemeSections] ADD  CONSTRAINT [DF_ThemeSections_IsCommon]  DEFAULT ((0)) FOR [IsCommon]
GO
ALTER TABLE [dbo].[ThemeSections] ADD  CONSTRAINT [DF_ThemeSections_Editor]  DEFAULT ('cards') FOR [EditorType]
GO
ALTER TABLE [dbo].[ThemeSections] ADD  CONSTRAINT [DF_ThemeSections_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Hashed]  DEFAULT ((0)) FOR [PasswordIsHashed]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Created]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Venues] ADD  CONSTRAINT [DF__Venues__MapLat__46E78A0C]  DEFAULT ((0)) FOR [MapLat]
GO
ALTER TABLE [dbo].[Venues] ADD  CONSTRAINT [DF__Venues__MapLng__47DBAE45]  DEFAULT ((0)) FOR [MapLng]
GO
ALTER TABLE [dbo].[Venues] ADD  CONSTRAINT [DF__Venues__IsActive__48CFD27E]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Venues] ADD  DEFAULT ((0)) FOR [ShowHotelLink]
GO
ALTER TABLE [dbo].[Venues] ADD  DEFAULT ((0)) FOR [IntroOrder]
GO
ALTER TABLE [dbo].[Venues] ADD  DEFAULT ((1)) FOR [ShowInIntro]
GO
ALTER TABLE [dbo].[AiHistory]  WITH CHECK ADD  CONSTRAINT [FK_AiHistory_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AiHistory] CHECK CONSTRAINT [FK_AiHistory_Users]
GO
ALTER TABLE [dbo].[AiHistory]  WITH CHECK ADD  CONSTRAINT [FK_AiHistory_Venues] FOREIGN KEY([VenueId])
REFERENCES [dbo].[Venues] ([Id])
GO
ALTER TABLE [dbo].[AiHistory] CHECK CONSTRAINT [FK_AiHistory_Venues]
GO
ALTER TABLE [dbo].[ContentItems]  WITH CHECK ADD FOREIGN KEY([SectionId])
REFERENCES [dbo].[PageSections] ([Id])
GO
ALTER TABLE [dbo].[ContentItems]  WITH CHECK ADD  CONSTRAINT [FK__ContentIt__Venue__4AB81AF0] FOREIGN KEY([VenueId])
REFERENCES [dbo].[Venues] ([Id])
GO
ALTER TABLE [dbo].[ContentItems] CHECK CONSTRAINT [FK__ContentIt__Venue__4AB81AF0]
GO
ALTER TABLE [dbo].[CustomerRegistrations]  WITH CHECK ADD  CONSTRAINT [FK__CustomerR__Origi__75A278F5] FOREIGN KEY([OriginId])
REFERENCES [dbo].[Origins] ([Id])
GO
ALTER TABLE [dbo].[CustomerRegistrations] CHECK CONSTRAINT [FK__CustomerR__Origi__75A278F5]
GO
ALTER TABLE [dbo].[CustomerRegistrations]  WITH CHECK ADD  CONSTRAINT [FK__CustomerR__Venue__74AE54BC] FOREIGN KEY([VenueId])
REFERENCES [dbo].[Venues] ([Id])
GO
ALTER TABLE [dbo].[CustomerRegistrations] CHECK CONSTRAINT [FK__CustomerR__Venue__74AE54BC]
GO
ALTER TABLE [dbo].[CustomerRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Districts] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[CustomerRegistrations] CHECK CONSTRAINT [FK_Customers_Districts]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_Districts_Provinces] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Provinces]
GO
ALTER TABLE [dbo].[Provinces]  WITH CHECK ADD  CONSTRAINT [FK_Provinces_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Provinces] CHECK CONSTRAINT [FK_Provinces_Departments]
GO
ALTER TABLE [dbo].[ThemeSections]  WITH CHECK ADD  CONSTRAINT [FK_ThemeSections_Themes] FOREIGN KEY([ThemeId])
REFERENCES [dbo].[Themes] ([Id])
GO
ALTER TABLE [dbo].[ThemeSections] CHECK CONSTRAINT [FK_ThemeSections_Themes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserVenues]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserVenues]  WITH CHECK ADD  CONSTRAINT [FK__UserVenue__Venue__656C112C] FOREIGN KEY([VenueId])
REFERENCES [dbo].[Venues] ([Id])
GO
ALTER TABLE [dbo].[UserVenues] CHECK CONSTRAINT [FK__UserVenue__Venue__656C112C]
GO
